<h3>Search for songs</h3>

<div class="border">

  <form action="/search" method="POST" role="form">

  <% for (var i = 0; i < 3; i++) { %>

    <div class="row">
      <div class="form-group col-xs-5 search-box">
        <input class="border border-invert" type="text" class="form-control" id="artist<%= i %>" placeholder="artist" name="artist_<%= i %>">
      </div>
      <div class="form-group col-xs-5 search-box">
        <input class="border border-invert" type="text" class="form-control" id="title<%= i %>" placeholder="title" name="title_<%= i %>">
      </div>
    </div>

  <% } %>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>

</div>
