<h2>Add songs!</h2>

<form action="/results" method="GET" role="form">
	<div class="form-group">
		<label for="">Artist</label>
		<input type="text" class="form-control" id="artist0" placeholder="artist" name="artist_0" value="david bowie">
	</div>
	<div class="form-group">
		<label for="">Title</label>
		<input type="text" class="form-control" id="title0" placeholder="title" name="title_0" value="changes">
	</div>

	<ln>

	<div class="form-group">
		<label for="">Artist</label>
		<input type="text" class="form-control" id="artist1" placeholder="artist" name="artist_1" value="charlie">
	</div>
	<div class="form-group">
		<label for="">Title</label>
		<input type="text" class="form-control" id="title1" placeholder="title" name="title_1" value="spacer woman">
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>