<h3>Welcome to Soul Tempo.</h3>

<div class="border" id="instructions">
  <ol>
    <li>Create account/log in.</li>
    <li>Search for some of your favorite jams by title and artist.</li>
    <li>Confirm the search results, and save them to your collection.</li>
    <li>Check out your freshly calculated <i>Soul Tempo</i>! It's the mean of the tempos of your collected tunes.</li>
    <li>Come back and add more songs. The more you use it, the more accurate your <i>Soul Tempo</i> will be!</li>
  </ol>
</div>

<br>
<div class="border">
  <p>If you just want to jump in, try using my test account.</p>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-2 border">
      username: Derek
      <br>password: d
    </div>
  </div>
  <br>
</div>

<br>
<div class="border">
  <p>Feel free to add songs to it!</p>
  <p>This project is back in development (as of May 2016). It's nothing fancy now, but I'm going to apply all my new knowledge to spiff it up and add lots of functionality. Don't be a stranger!</p>
</div>
<br>
