<h3>Welcome to Soul Tempo!</h3>

<p>
  A description of my app, and how to use it...
  <br>
  For now, set URL to /add to move on.
</p>

<!-- TODO
add button to direct to 

"Press the button to begin adding songs to your collection."
-->