<h3>Welcome to Soul Tempo!</h3>

<p>
  A description of my app, and how to use it...
</p>
<p>
  Press the button below to begin adding songs to your collection.
</p>

<form action="/add" method="GET" role="form">
	<button type="submit" class="btn btn-primary">Add songs</button>
</form>
