<h3>Welcome to Soul Tempo.</h3>

<div class="border" id="instructions">
  <ol>
    <li>Create account/log in.</li>
    <li>Search for some of your favorite jams by title and artist.</li>
    <li>Confirm the search results, and save them to your collection.</li>
    <li>Check out your freshly calculated <i>Soul Tempo</i>! It's the mean of the tempos of your collected tunes.</li>
    <li>Come back and add more songs. The more you use it, the more accurate your <i>Soul Tempo</i> will be!</li>
  </ol>
</div>

<br>
<div class="border">
  <p>If you just want to jump in, use the demo account:</p>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-2 border">
      username: Test
      <br>password: test
    </div>
  </div>
  <br>
</div>

<br>
<div class="border">
  <p>Some big new features are in the works!</p>
  <p>Created by <a href="http://derekpoppe.com">Derek Poppe</a>. Check it out on <a href="http://github.com/djpo/soultempo">GitHub</a>!</p>
</div>
<br>
