<h3>Welcome to Soul Tempo!</h3>

<form action="/show" method="GET" role="form">
  <legend>Find a song!</legend>

  <div class="form-group">
    <label for="">Artist</label>
    <input type="text" class="form-control" id="artist" placeholder="ex. Charlie" name="artist">
  </div>
  <div class="form-group">
    <label for="">Title</label>
    <input type="text" class="form-control" id="title" placeholder="ex. Spacer Woman" name="title">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
