<h3>Welcome to Soul Tempo!</h3>
<div id="instructions">
	<ol>
		<li>Log in.</li>
		<li>Find songs by title and artist.</li>
		<li>Add to your collection.</li>
		<li>Check out your freshly calculated <i>Soul Tempo</i>!</li>
		<li>Come back and add more songs. Your collection is cumulative, so your Soul Tempo will get more and more accurate!</li>
	</ol>
</div>

<form action="/add" method="GET" role="form">
	<button type="submit" class="btn btn-primary">Find songs</button>
</form>

<form action="/summary" method="GET">
  <button type="submit" class="btn btn-primary">Summary</button>
</form>