<!DOCTYPE html>
<html>
  <head>
    <title>Soul Tempo</title>



    <!-- use below for offline development -->
    
    <link rel="stylesheet" href="offline_dev/bootstrap.min.css"></link>
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="offline_dev/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="offline_dev/bootstrap.min.js"></script>
    <script type="text/javascript" src="offline_dev/d3.min.js"></script>

  </head>
  <body>



    <header class="row" id="topbar">
      <div class="col-xs-12" id="appTitle">
        SOUL TEMPO
      </div>
    </header>




<!--     <header class="row" id="topbar">
      <div class="col-xs-12" id="appTitle">
        SOUL TEMPO
      </div>
    </header> -->

    <div class="container">
      <div>
        <% include ./partials/alerts.ejs %>
      </div>
    </div>
    <div class="container row">
      <div class="col-xs-2" id="sidebar">
        <% include ./partials/sidebar.ejs %>
      </div>
      <div class="col-xs-10 border-invert">
        <%- body %>
      </div>
    </div>
  </body>
</html>
