<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<title>Soul Tempo</title>
</head>
<body>

<header class="row" id="topbar">
	<div class="col-xs-10" id="appTitle">
		~~~ Soul Tempo! ~~~
	</div>
</header>

<div class="container">
	<div class="row">
		<% include ./partials/alerts.ejs %>
	</div>
</div>



<div class="container row">

	<div class="col-xs-2" id="sidebar user">

			<% if(currentUser) { %>
				user: <%= currentUser.username %>
				<a href="/auth/logout" class="btn btn-primary">Logout</a>
			<% }else{ %>
				not logged in
				<a href="/auth/login" class="btn btn-primary">Login</a>
				<a href="/auth/signup" class="btn btn-primary">Signup</a>
			<% } %>
	</div>

	<div class="col-xs-10">
		<%- body %>
	</div>
</div>

</body>
</html>