<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<title>Soul Tempo</title>
</head>
<body>

<header id="topbar">
	Soul Tempo!
</header>

<div class="container">
	<%- body %>
</div>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>