
<h2>Search results</h2>
<h4>Confirm before processing.</h4>

<% foundSongs.forEach(function(song) { %>
	<div class="row songRow">
		<div class="col-xs-4">
			<%= song.artist %>
		</div>
		<div class="col-xs-4">
			<%= song.title %>
		</div>
		<div class="col-xs-4 songId">
			<%= song.id %>
		</div>
	</div>
<% }); %>


<button type="button" class="btn btn-primary" id="processplz">Process</button>

<script> var songs = <%- JSON.stringify(foundSongs) %>; </script>
<script type="text/javascript">
  $('#processplz').on('click', function() {

    var idArray = [];
    console.log(idArray);

    songs.forEach(function(song){
      idArray.push(song.id);
    });
    console.log(idArray);

    var myData = {
      mySongs: idArray
    };
    console.log(myData);

    $.ajax({
      url: '/process',
      type: 'POST',
      // cache: false,
      data: myData,
      dataType: 'json'
      // success: function(data) {
      //   alert('Success!');
      // },
      // error: function(jqXHR, textStatus, err) {
      //   alert('text status ' + textStatus +' , err ' + err);
      // }
    });
  });
</script>