<h2>Search results</h2>
<h4>Confirm before processing.</h4>

<% foundSongs.forEach(function(foundSong) { %>
	<div class="row songRow">
		<div class="col-xs-4">
			<%= foundSong.artist %>
		</div>
		<div class="col-xs-4">
			<%= foundSong.title %>
		</div>
		<div class="col-xs-4 songId">
			<%= foundSong.id %>
		</div>
	</div>
<% }); %>


<button type="button" class="btn btn-primary" id="processplz">Add to collection</button>

<script> var songs = <%- JSON.stringify(foundSongs) %>; </script>
<script>
  $('#processplz').on('click', function() {
    var idArray = [];
    songs.forEach(function(song){
      idArray.push(song.id);
    });
    var dataToPass = {
      idsToPass: idArray
    };

    $.ajax({
      url: '/process',
      type: 'POST',
      data: dataToPass,
      success: function(data) {
        console.log('Success!');
        window.location = '/summary';
      },
      error: function(jqXHR, textStatus, err) {
        console.log('text status ' + textStatus +' , err ' + err);
      }
    });
  });
</script>


<form action="/add" method="GET">
  <button type="submit" class="btn btn-primary">Back</button>
</form>

<form action="/summary" method="GET">
  <button type="submit" class="btn btn-primary">just take me to the summary</button>
</form>