<h2>Summary</h2>

<% console.log('_____coming to you from summary.ejs_____'); %>

<div class="row labelRow">
	<div class="col-xs-5">
		artist
	</div>
	<div class="col-xs-5">
		title
	</div>
	<div class="col-xs-2">
		tempo
	</div>
</div>

<% collection.forEach(function(entry) { %>
	<div class="row songRow">
		<div class="col-xs-5">
			<%= entry.dataValues.artist %>
		</div>
		<div class="col-xs-5">
			<%= entry.dataValues.title %>
		</div>	
		<div class="col-xs-2">
			<%= entry.dataValues.tempo %>
		</div>
	</div>
<% }); %>