<h2>Summary</h2>

<% console.log('_____coming to you from summary.ejs_____'); %>

<div class="row labelRow">
	<div class="col-xs-2">
		user id
	</div>
	<div class="col-xs-2">
		song id
	</div>
	<div class="col-xs-3">
		artist
	</div>
	<div class="col-xs-3">
		title
	</div>
	<div class="col-xs-2">
		tempo
	</div>
</div>
