<% foundSongs.forEach(function(song) { %>

<div class="row songRow">
	<div class="col-xs-3 songField">
		<%= song.artist %>
	</div>
	<div class="col-xs-3 songField">
		<%= song.title %>
	</div>
	<div class="col-xs-3 songField">
		<%= song.id %>
	</div>
</div>

<% }); %>