<h2>Summary</h2>

<% console.log('_____coming to you from summary.ejs_____'); %>
<% console.log(ids); %>


<% ids.forEach(function(id) { %>
	<div class="row songRow">
		<div class="col-xs-6">
			<%= id %>
		</div>
	</div>
<% }); %>
